* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/ExtraOpenSans-Bold.ttf");
  src: local("OpenSans-ExtraBold"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  src: local("OpenSans-ExtraBoldItalic"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.ttf");
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  src: local("OpenSans-BoldItalic"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-SemiBold.ttf");
  src: local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
  src: local("OpenSans-SemiBoldItalic"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf");
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Italic.ttf");
  src: local("OpenSans-Italic"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Light.ttf");
  src: local("OpenSans-Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-LightItalic.ttf");
  src: local("OpenSans-LightItalic"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

body {
  font-family: 'OpenSans'; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
------------------------------------------------------------- */
a {
  text-decoration: none;
  color: #000000; }

ul {
  list-style: none; }

footer .top {
  background-color: #F2F2F3;
  color: #5C5C5C; }
  footer .top .container-standard {
    width: 100%;
    padding-right: 12%;
    padding-left: 12%;
    margin-right: auto;
    margin-left: auto; }
    footer .top .container-standard .main-logo {
      width: 50%; }
  footer .top input[type=text].input-mail-footer {
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #5C5C5C;
    background-color: transparent; }
  footer .top input[type=text].input-mail-footer:focus {
    border-color: #000000; }
  footer .top .input-mail-footer::after {
    font-family: FontAwesome;
    content: "\f0d9"; }

footer .bottom {
  font-weight: 600;
  font-size: 15px; }
  footer .bottom .container-standard {
    width: 100%;
    padding-right: 12%;
    padding-left: 12%;
    margin-right: auto;
    margin-left: auto; }
    footer .bottom .container-standard .top-column4 {
      font-weight: 300;
      font-size: 12px; }

header .top-header {
  font-size: 11px;
  font-weight: 400;
  background-color: #F2F2F3;
  padding: 13px 50px; }
  header .top-header ul {
    overflow: hidden;
    color: #5C5C5C; }
  header .top-header ul li {
    float: right; }
    header .top-header ul li .top-header-item-content {
      padding: 0 20px; }
    header .top-header ul li .top-header-item-content a {
      color: #5C5C5C; }
    header .top-header ul li .fa-shopping-bag {
      vertical-align: 0%;
      overflow: visible; }

header .main-header {
  font-size: 15px;
  font-weight: 400;
  padding: 0 4% 0 12%; }
  header .main-header ul {
    overflow: hidden;
    color: #5C5C5C;
    position: relative; }
  header .main-header ul .left-navbar-menu {
    float: right; }
    header .main-header ul .left-navbar-menu ul {
      display: table-row; }
    header .main-header ul .left-navbar-menu ul li {
      display: table-cell;
      vertical-align: middle; }
    header .main-header ul .left-navbar-menu .menu-button {
      margin-left: 190px;
      margin-right: 50px;
      width: 70px;
      height: 86px;
      position: relative;
      background-color: #F2F2F3;
      border: 2px solid #F2F2F3; }
      header .main-header ul .left-navbar-menu .menu-button a {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%; }
      header .main-header ul .left-navbar-menu .menu-button a i {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%); }
    header .main-header ul .left-navbar-menu .language-button a {
      padding-bottom: 31px;
      border-top: 2px solid #ffffff; }
    header .main-header ul .left-navbar-menu .language-button a.active {
      border-bottom: 2px solid #000000; }
    header .main-header ul .left-navbar-menu .language-button > a {
      margin: 0 5px; }
    header .main-header ul .left-navbar-menu .quick-menu a {
      padding-bottom: 33px;
      border-top: 2px solid #ffffff; }
    header .main-header ul .left-navbar-menu .quick-menu > a {
      margin: 0 10px; }
  header .main-header ul .main-logo {
    float: left;
    height: 100%;
    position: absolute; }
    header .main-header ul .main-logo .main-logo-content {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      header .main-header ul .main-logo .main-logo-content img {
        width: 150px; }

.menu-show {
  display: none; }
  .menu-show .container-menu-show {
    width: 100%;
    padding-right: 0;
    padding-left: 12%;
    margin-right: auto;
    margin-left: auto; }
    .menu-show .container-menu-show .row-menu-show {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: 0;
      margin-left: 0; }
  .menu-show .left {
    position: relative; }
    .menu-show .left .social-link {
      padding-top: 10vh; }
      .menu-show .left .social-link a {
        display: block; }
    .menu-show .left .tile-menu-show {
      font-size: 50px;
      font-weight: 700;
      position: absolute;
      left: 0;
      bottom: 0; }
      .menu-show .left .tile-menu-show p {
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        -ms-transform-origin: left top;
            transform-origin: left top; }
  .menu-show .middle .banner {
    height: 100%;
    background-image: url("../img/home-1-banner-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .menu-show .right .container-search {
    background-color: #F2F2F3;
    padding: 0 15%; }
  .menu-show .right .container-main-menu {
    padding: 5vh 15%;
    position: relative; }
    .menu-show .right .container-main-menu ul li {
      padding: 1vh 0;
      font-weight: 600; }
      .menu-show .right .container-main-menu ul li .child-menu {
        padding-left: 2%;
        border-left: 2px solid #5C5C5C; }
        .menu-show .right .container-main-menu ul li .child-menu li a {
          color: #5C5C5C; }
    .menu-show .right .container-main-menu .backet-show {
      position: absolute;
      right: 15%;
      bottom: 0; }
      .menu-show .right .container-main-menu .backet-show .backet-show-content {
        background-color: #000000;
        color: #ffffff;
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        -ms-transform-origin: right top;
            transform-origin: right top; }

.normal-button {
  background-color: #000000;
  border: none;
  color: #ffffff;
  padding: 5px 32px 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px; }

.white {
  color: #000000 !important;
  background-color: #ffffff !important; }

body.home .row-1 {
  height: 755px;
  overflow: hidden; }
  body.home .row-1 img {
    width: 100%;
    height: auto; }

body.home .row-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F2F2F3; }
  body.home .row-2 .column {
    width: 50%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat; }
  body.home .row-2 .column-1 {
    background-image: url("../img/home-1-banner-3.png");
    position: relative; }
    body.home .row-2 .column-1 .container-tag {
      position: absolute;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.692);
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      bottom: 145px;
      padding: 30px;
      right: 50%;
      -ms-transform: translateX(50%);
      transform: translateX(50%); }
      body.home .row-2 .column-1 .container-tag .top {
        font-size: 30px; }
      body.home .row-2 .column-1 .container-tag .bottom {
        font-size: 40px;
        font-weight: 700; }
  body.home .row-2 .column-2 .title {
    text-align: center;
    text-transform: uppercase;
    padding: 90px 0;
    font-size: 50px; }
  body.home .row-2 .column-2 img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  body.home .row-2 .column-2 .footer {
    text-align: center;
    padding: 90px 0;
    font-size: 30px;
    letter-spacing: .2rem; }
    body.home .row-2 .column-2 .footer .top {
      text-transform: uppercase; }
      body.home .row-2 .column-2 .footer .top .highlight {
        color: #1B75BA; }
    body.home .row-2 .column-2 .footer .middle {
      color: #5C5C5C; }
    body.home .row-2 .column-2 .footer .normal-button {
      margin-top: 50px; }

body.home .row-3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 12%; }
  body.home .row-3 .row-title {
    text-transform: uppercase;
    font-size: 30px;
    padding: 75px 0 35px 0;
    text-align: center;
    width: 100%; }
  body.home .row-3 .column {
    width: 49%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    height: 665px; }
  body.home .row-3 .column-1 {
    background-image: url("../img/home-1-banner-5.png");
    position: relative;
    margin-right: 1%; }
    body.home .row-3 .column-1 .container-tag {
      position: absolute;
      width: 90%;
      background-color: rgba(0, 0, 0, 0.062);
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      bottom: 0;
      padding: 64px 0;
      right: 50%;
      -ms-transform: translateX(50%);
      transform: translateX(50%); }
      body.home .row-3 .column-1 .container-tag .title {
        padding-bottom: 30px; }
      body.home .row-3 .column-1 .container-tag .title img {
        width: 200px;
        height: auto; }
      body.home .row-3 .column-1 .container-tag .title .middle .top {
        font-size: 25px; }
      body.home .row-3 .column-1 .container-tag .title .middle .bottom {
        text-transform: none;
        font-size: 22px; }
      body.home .row-3 .column-1 .container-tag .title .bottom {
        font-size: 14px; }
  body.home .row-3 .column-2 {
    background-image: url("../img/home-1-banner-6.png");
    position: relative;
    margin-left: 1%; }
    body.home .row-3 .column-2 .container-tag {
      position: absolute;
      width: 90%;
      background-color: rgba(0, 0, 0, 0.062);
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      bottom: 0;
      padding: 64px 0;
      right: 50%;
      -ms-transform: translateX(50%);
      transform: translateX(50%); }
      body.home .row-3 .column-2 .container-tag .title {
        padding-bottom: 30px; }
      body.home .row-3 .column-2 .container-tag .title .top {
        font-size: 20px; }
      body.home .row-3 .column-2 .container-tag .title .bottom {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: -0.3rem; }

body.home .row-4 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 12%; }
  body.home .row-4 .row-title {
    text-transform: uppercase;
    font-size: 30px;
    padding: 75px 0 35px 0;
    text-align: center;
    width: 100%; }
  body.home .row-4 .column {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    height: 665px; }
  body.home .row-4 .column-1 {
    background-image: url("../img/home-1-banner-7.png");
    position: relative; }
    body.home .row-4 .column-1 .container-tag {
      position: absolute;
      width: 35%;
      background-color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      bottom: 130px;
      padding: 20px 30px;
      right: 50%;
      -ms-transform: translateX(50%);
      transform: translateX(50%); }
      body.home .row-4 .column-1 .container-tag .top {
        font-size: 23px; }
      body.home .row-4 .column-1 .container-tag .bottom {
        font-size: 40px;
        font-weight: 700; }

body.home .row-5 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 12%;
  padding-bottom: 75px; }
  body.home .row-5 .row-title {
    text-transform: uppercase;
    font-size: 30px;
    padding: 75px 0 35px 0;
    text-align: center;
    width: 100%; }
  body.home .row-5 .column {
    background-size: cover;
    background-repeat: no-repeat; }
  body.home .row-5 .column-1 {
    background-image: url("../img/home-1-banner-8.png");
    position: relative;
    margin-right: 1%;
    width: 69%; }
    body.home .row-5 .column-1 .container-tag {
      position: absolute;
      width: 40%;
      background-color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      bottom: 70px;
      padding: 20px 1% 10px 1%;
      right: 20px; }
      body.home .row-5 .column-1 .container-tag .top {
        font-size: 15px;
        padding-bottom: 5px; }
      body.home .row-5 .column-1 .container-tag .bottom {
        line-height: 25px;
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 10px; }
  body.home .row-5 .column-2 {
    position: relative;
    margin-left: 1%;
    width: 29%; }
    body.home .row-5 .column-2 img {
      width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    body.home .row-5 .column-2 .normal-button {
      bottom: 70px;
      position: absolute;
      right: 50%;
      -ms-transform: translateX(50%);
      transform: translateX(50%); }
  body.home .row-5 .column-3 {
    background-image: url("../img/home-1-banner-10.png");
    position: relative;
    height: 664px;
    width: 100%;
    margin-top: 25px; }
    body.home .row-5 .column-3 .container-tag {
      position: absolute;
      width: 25%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      bottom: 200px;
      left: 15%; }
      body.home .row-5 .column-3 .container-tag .top {
        font-size: 20px; }
      body.home .row-5 .column-3 .container-tag .bottom {
        font-size: 35px;
        font-weight: 700; }

body.home .row-6 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 12%;
  background-color: #000000; }
  body.home .row-6 .row-title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 60px; }
  body.home .row-6 .row-title-top {
    font-size: 40px; }
  body.home .row-6 .row-title-description {
    font-size: 20px;
    padding: 18px 0 30px 0; }
  body.home .row-6 .column {
    width: 32%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    height: 370px;
    position: relative; }
    body.home .row-6 .column .container-tag {
      position: absolute;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      background-color: #000000;
      color: #ffffff;
      bottom: 0;
      padding: 20px 5%;
      right: 0;
      font-size: 22px; }
  body.home .row-6 .column-1 {
    background-image: url("../img/home-1-banner-12.png");
    margin-right: 1%; }
  body.home .row-6 .column-2 {
    background-image: url("../img/home-1-banner-13.png");
    margin-left: 1%;
    margin-right: 1%; }
  body.home .row-6 .column-3 {
    background-image: url("../img/home-1-banner-14.png");
    margin-left: 1%; }

body.product-look-book .container {
  margin-bottom: 120px; }
  body.product-look-book .container a {
    text-decoration: none; }
  body.product-look-book .container .collection-box {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    background-color: #f2f2f2;
    margin-top: 80px; }
    body.product-look-book .container .collection-box .image-session {
      width: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    body.product-look-book .container .collection-box .info-session {
      width: 50%;
      text-align: center;
      font-weight: bold; }
      body.product-look-book .container .collection-box .info-session img {
        width: 60%; }
      body.product-look-book .container .collection-box .info-session p {
        margin: 0;
        padding: 7% 0; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  body.product-look-book .container .collection-box {
    width: 90%;
    margin-top: 20px; }
    body.product-look-book .container .collection-box .info-session p {
      padding: 5% 0; } }

body.product-new .container .banner {
  height: 600px;
  margin-bottom: 80px; }
  body.product-new .container .banner img {
    width: 100%; }
  body.product-new .container .banner .nextArrowBtn, body.product-new .container .banner .prevArrowBtn {
    position: absolute;
    font-size: 4em;
    font-weight: 800;
    top: 240px;
    z-index: 5;
    padding: 20px;
    cursor: pointer;
    color: #000000; }
  body.product-new .container .banner .nextArrowBtn {
    left: 40px; }
  body.product-new .container .banner .prevArrowBtn {
    right: 40px; }

body.product-new .container .menu {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px; }
  body.product-new .container .menu p {
    margin: 0; }
  body.product-new .container .menu a {
    text-decoration: none; }
  body.product-new .container .menu .list-product, body.product-new .container .menu .price-sort, body.product-new .container .menu .top-sales, body.product-new .container .menu .discount-products {
    width: 25%;
    position: relative; }
  body.product-new .container .menu .title-menu {
    background-color: #000000;
    padding: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #ffffff;
    height: 50px; }
  body.product-new .container .menu ul.level-1 {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 2;
    width: 100%;
    transition-duration: 0.8s; }
    body.product-new .container .menu ul.level-1 li {
      background-color: #eeeeee;
      width: 100%;
      padding: 14px 24px;
      cursor: pointer;
      transition-duration: 0.7s;
      position: relative; }
      body.product-new .container .menu ul.level-1 li:hover {
        background-color: #ffffff; }
      body.product-new .container .menu ul.level-1 li ul.level-2 {
        display: none;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
        z-index: 2;
        transition-duration: 0.5s;
        border: 1px solid #d1d1d1; }
        body.product-new .container .menu ul.level-1 li ul.level-2 li {
          background-color: #eeeeee;
          width: 100%;
          padding: 14px 54px;
          cursor: pointer;
          transition-duration: 0.7s; }
          body.product-new .container .menu ul.level-1 li ul.level-2 li .sub-title {
            padding: 14px 24px; }
          body.product-new .container .menu ul.level-1 li ul.level-2 li:hover {
            background-color: #ffffff; }
            body.product-new .container .menu ul.level-1 li ul.level-2 li:hover .sub-title {
              background-color: #eeeeee; }
        body.product-new .container .menu ul.level-1 li ul.level-2 li.have-child {
          padding: 0; }
    body.product-new .container .menu ul.level-1 #somi-shirt:hover #somi-shirt-content {
      display: block; }
    body.product-new .container .menu ul.level-1 #polo-shirt:hover #polo-shirt-content {
      display: block; }
  body.product-new .container .menu #list-product:hover #list-product-menu {
    display: block; }
  body.product-new .container .menu #price-sort:hover #price-sort-menu {
    display: block; }

body.product-new .container .product-box {
  position: relative;
  border: 1px solid #c4c4c4;
  padding: 20px;
  min-height: 435px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s; }
  body.product-new .container .product-box .product-image {
    background-color: #ffffff; }
    body.product-new .container .product-box .product-image img {
      width: 100%; }
  body.product-new .container .product-box .product-info {
    padding: 20px 0; }
    body.product-new .container .product-box .product-info p {
      margin: 0;
      color: #000000; }
    body.product-new .container .product-box .product-info .product-name {
      padding-bottom: 20px;
      min-height: 60px; }
    body.product-new .container .product-box .product-info .product-bottom {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      body.product-new .container .product-box .product-info .product-bottom .product-color {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  body.product-new .container .product-box .hidden-detail {
    position: absolute;
    z-index: 1;
    bottom: 38px;
    display: none;
    margin-left: -100px;
    left: 50%; }
    body.product-new .container .product-box .hidden-detail .add-to-cart {
      width: 100px;
      height: 100px;
      background: #000000;
      border: none;
      color: #fff; }
    body.product-new .container .product-box .hidden-detail .go-to-detail {
      border: none;
      background: #ffffff;
      height: 100px;
      width: 100px; }
  body.product-new .container .product-box:hover {
    background-image: url(../img/somi-2.jpg); }
  body.product-new .container .product-box:hover .product-info {
    display: none; }
  body.product-new .container .product-box:hover .product-image {
    display: none; }
  body.product-new .container .product-box:hover .hidden-detail {
    display: -ms-flexbox;
    display: flex; }

body.product-new .color-style {
  width: 20px;
  height: 20px;
  background: #c4c4c4;
  margin-left: 5px; }

body.success-notify {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }
  body.success-notify .container .pop-up {
    width: 600px;
    padding: 100px;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27vh;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    body.success-notify .container .pop-up .left-pop-up {
      width: 40%;
      font-weight: 500; }
      body.success-notify .container .pop-up .left-pop-up p {
        font-size: 1.9em; }
    body.success-notify .container .pop-up .right-pop-up {
      width: 60%;
      font-weight: 600; }
    body.success-notify .container .pop-up .button-close {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      background-color: #000000;
      color: #ffffff;
      padding: 10px 16px;
      transition-duration: 1s; }
      body.success-notify .container .pop-up .button-close:hover {
        background-color: red; }

body.shopping-bag-page {
  height: 100vh;
  /* Let's get this party started */
  /* Track */
  /* Handle */ }
  body.shopping-bag-page .container.shopping-bag {
    position: relative;
    height: 98vh;
    padding-top: 20px; }
    body.shopping-bag-page .container.shopping-bag .top-bag {
      height: 76vh;
      padding: 0 100px;
      display: -ms-flexbox;
      display: flex; }
      body.shopping-bag-page .container.shopping-bag .top-bag .middle-space {
        width: 8%; }
      body.shopping-bag-page .container.shopping-bag .top-bag .left-bag {
        width: 49%;
        border-top: 2px solid #c4c4c4;
        padding-top: 20px; }
        body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .title-left-bag {
          display: -ms-flexbox;
          display: flex;
          color: #000000;
          padding-bottom: 40px; }
          body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .title-left-bag .product-info-title {
            width: 75%; }
          body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .title-left-bag .product-price-title {
            width: 25%; }
        body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products {
          overflow-y: auto;
          height: 62vh; }
          body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail {
            color: #000000;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: justify;
                justify-content: space-between;
            padding-bottom: 20px; }
            body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info {
              display: -ms-flexbox;
              display: flex; }
              body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .image-product {
                position: relative; }
                body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .image-product img {
                  width: 90px;
                  height: 120px; }
                body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .image-product .button-delete {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  padding: 3px 15px;
                  border: none;
                  color: #c4c4c4;
                  background-color: #eeeeee;
                  transition-duration: 0.5s; }
                  body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .image-product .button-delete:hover {
                    color: #ffffff;
                    background-color: red; }
              body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .info-detail {
                padding-left: 15px; }
                body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .info-detail .quantity, body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .info-detail .product-size, body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .info-detail .product-color {
                  display: -ms-flexbox;
                  display: flex;
                  color: #c4c4c4; }
                body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .info-detail .number-product {
                  color: #000000;
                  font-weight: 600; }
                body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .info-detail .title-product-detail {
                  margin-right: 10px; }
                body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .info-detail .color {
                  background-color: #00aced;
                  width: 15px;
                  height: 15px;
                  margin-right: 10px; }
                body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .info-detail .color-detail {
                  display: -ms-flexbox;
                  display: flex; }
                body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .info-detail .spin {
                  display: inline-block; }
                body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .info-detail .spin span {
                  display: inline-block;
                  width: 20px;
                  height: 22px;
                  text-align: center;
                  padding-top: 2px;
                  border: none;
                  cursor: pointer; }
                body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-info .info-detail .spin input {
                  width: 40px;
                  height: 20px;
                  text-align: center;
                  background: inherit;
                  border: none; }
            body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-price {
              display: -ms-flexbox;
              display: flex;
              margin-right: 10px; }
              body.shopping-bag-page .container.shopping-bag .top-bag .left-bag .all-products .product-detail .product-price .price-number {
                padding-right: 10px; }
      body.shopping-bag-page .container.shopping-bag .top-bag .right-bag {
        color: #000000;
        width: 43%;
        border-top: 2px solid #c4c4c4;
        padding-left: 5px;
        padding-top: 20px; }
        body.shopping-bag-page .container.shopping-bag .top-bag .right-bag .title-right-bag {
          padding-bottom: 40px; }
        body.shopping-bag-page .container.shopping-bag .top-bag .right-bag .delivery-info-detail {
          overflow-y: auto;
          height: 62vh; }
          body.shopping-bag-page .container.shopping-bag .top-bag .right-bag .delivery-info-detail .same-style {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: justify;
                justify-content: space-between;
            padding-bottom: 20px; }
          body.shopping-bag-page .container.shopping-bag .top-bag .right-bag .delivery-info-detail .input-type {
            margin-right: 10px; }
            body.shopping-bag-page .container.shopping-bag .top-bag .right-bag .delivery-info-detail .input-type input, body.shopping-bag-page .container.shopping-bag .top-bag .right-bag .delivery-info-detail .input-type select, body.shopping-bag-page .container.shopping-bag .top-bag .right-bag .delivery-info-detail .input-type textarea {
              outline: none;
              border: none;
              background: inherit;
              border-bottom: 2px dashed #c4c4c4;
              min-width: 200px; }
              body.shopping-bag-page .container.shopping-bag .top-bag .right-bag .delivery-info-detail .input-type input option, body.shopping-bag-page .container.shopping-bag .top-bag .right-bag .delivery-info-detail .input-type select option, body.shopping-bag-page .container.shopping-bag .top-bag .right-bag .delivery-info-detail .input-type textarea option {
                color: #000000; }
            body.shopping-bag-page .container.shopping-bag .top-bag .right-bag .delivery-info-detail .input-type textarea {
              min-height: 90px; }
    body.shopping-bag-page .container.shopping-bag .bottom-bag {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      background-color: #f2f2f2;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      padding: 35px 110px; }
      body.shopping-bag-page .container.shopping-bag .bottom-bag .total-cost {
        width: 50%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        body.shopping-bag-page .container.shopping-bag .bottom-bag .total-cost p {
          margin: 0; }
        body.shopping-bag-page .container.shopping-bag .bottom-bag .total-cost .title-total {
          font-weight: 600; }
        body.shopping-bag-page .container.shopping-bag .bottom-bag .total-cost .price {
          font-weight: 600;
          font-size: 1.5em; }
      body.shopping-bag-page .container.shopping-bag .bottom-bag .button-session {
        width: 50%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
            justify-content: flex-end; }
        body.shopping-bag-page .container.shopping-bag .bottom-bag .button-session .continue-buy {
          border: 1px solid #000000;
          background-color: #ffffff;
          padding: 12px 40px;
          margin-right: 30px; }
        body.shopping-bag-page .container.shopping-bag .bottom-bag .button-session .payment {
          border: 1px solid #000000;
          background-color: #000000;
          color: #ffffff;
          padding: 12px 40px; }
    body.shopping-bag-page .container.shopping-bag .button-close {
      position: absolute;
      right: 20px;
      top: 0;
      font-weight: 600;
      font-size: 1.9em;
      cursor: pointer;
      padding: 12px 20px;
      transition-duration: 0.8s; }
      body.shopping-bag-page .container.shopping-bag .button-close a {
        text-decoration: none; }
      body.shopping-bag-page .container.shopping-bag .button-close:hover {
        background-color: red; }
        body.shopping-bag-page .container.shopping-bag .button-close:hover a {
          color: #ffffff; }
  body.shopping-bag-page ::-webkit-scrollbar {
    width: 4px; }
  body.shopping-bag-page ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  body.shopping-bag-page ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(192, 192, 192, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
  body.shopping-bag-page ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(192, 192, 192, 0.4); }

body.lookbook .container {
  margin-bottom: 120px; }
  body.lookbook .container a {
    text-decoration: none; }
  body.lookbook .container .collection-box {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    background-color: #f2f2f2;
    margin-top: 80px; }
    body.lookbook .container .collection-box .image-session {
      width: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    body.lookbook .container .collection-box .info-session {
      width: 50%;
      text-align: center;
      font-weight: bold; }
      body.lookbook .container .collection-box .info-session img {
        width: 60%; }
      body.lookbook .container .collection-box .info-session p {
        margin: 0;
        padding: 7% 0; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  body.lookbook .container .collection-box {
    width: 90%;
    margin-top: 20px; }
    body.lookbook .container .collection-box .info-session p {
      padding: 5% 0; } }

body.lookbook-gallery .container, body.lookbook-gallery .row {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }

body.lookbook-gallery .top-lookbook {
  height: 140px;
  position: relative; }
  body.lookbook-gallery .top-lookbook .name-lookbook {
    position: absolute;
    top: 58px;
    left: 120px;
    z-index: 2;
    font-weight: 600; }

body.lookbook-gallery .slide-slick-lookbook {
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  body.lookbook-gallery .slide-slick-lookbook .lookbook-item {
    height: 400px;
    outline: none; }
  body.lookbook-gallery .slide-slick-lookbook img {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; }
  body.lookbook-gallery .slide-slick-lookbook .slick-dots {
    width: auto;
    bottom: -80px;
    left: 25%; }
  body.lookbook-gallery .slide-slick-lookbook .slick-dots li {
    margin: 0;
    width: auto;
    height: auto; }
  body.lookbook-gallery .slide-slick-lookbook .slick-dots li button {
    width: 140px;
    height: 2px;
    padding: 0;
    background-color: #000000;
    opacity: 0.25; }
  body.lookbook-gallery .slide-slick-lookbook .slick-dots li.slick-active button {
    background-color: #000000;
    opacity: 0.75; }
  body.lookbook-gallery .slide-slick-lookbook .slick-dots li button:before {
    content: none; }
  body.lookbook-gallery .slide-slick-lookbook p.prev-button, body.lookbook-gallery .slide-slick-lookbook p.next-button {
    position: absolute;
    bottom: -95px;
    font-weight: 600;
    cursor: pointer;
    z-index: 2; }
  body.lookbook-gallery .slide-slick-lookbook p.prev-button {
    left: 120px; }
  body.lookbook-gallery .slide-slick-lookbook p.next-button {
    right: 120px; }

body.lookbook-gallery a.button-close {
  text-decoration: none; }

body.lookbook-gallery .button-close {
  position: absolute;
  cursor: pointer;
  font-weight: 600;
  top: 58px;
  right: 120px; }

body.lookbook-gallery .top-left-session {
  position: absolute;
  z-index: 1;
  margin: 0;
  color: #c4c4c4;
  top: -35px;
  left: 0;
  font-weight: 600;
  font-size: 8em;
  opacity: 0.4; }

body.lookbook-gallery .bottom-right-session {
  position: absolute;
  z-index: 1;
  margin: 0;
  color: #c4c4c4;
  bottom: -10px;
  right: 14px;
  font-weight: 600;
  font-size: 8em;
  opacity: 0.4; }

body.uniform-gallery .container, body.uniform-gallery .row {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }

body.uniform-gallery .top-uniform {
  height: 140px;
  position: relative; }
  body.uniform-gallery .top-uniform .name-uniform {
    position: absolute;
    top: 58px;
    left: 120px;
    z-index: 2;
    font-weight: 600; }

body.uniform-gallery .slide-slick-uniform {
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  body.uniform-gallery .slide-slick-uniform .uniform-item {
    height: 400px;
    outline: none; }
  body.uniform-gallery .slide-slick-uniform img {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; }
  body.uniform-gallery .slide-slick-uniform .slick-dots {
    width: auto;
    bottom: -80px;
    left: 25%; }
  body.uniform-gallery .slide-slick-uniform .slick-dots li {
    margin: 0;
    width: auto;
    height: auto; }
  body.uniform-gallery .slide-slick-uniform .slick-dots li button {
    width: 140px;
    height: 2px;
    padding: 0;
    background-color: #000000;
    opacity: 0.25; }
  body.uniform-gallery .slide-slick-uniform .slick-dots li.slick-active button {
    background-color: #000000;
    opacity: 0.75; }
  body.uniform-gallery .slide-slick-uniform .slick-dots li button:before {
    content: none; }
  body.uniform-gallery .slide-slick-uniform p.prev-button, body.uniform-gallery .slide-slick-uniform p.next-button {
    position: absolute;
    bottom: -95px;
    font-weight: 600;
    cursor: pointer;
    z-index: 2; }
  body.uniform-gallery .slide-slick-uniform p.prev-button {
    left: 120px; }
  body.uniform-gallery .slide-slick-uniform p.next-button {
    right: 120px; }

body.uniform-gallery a.button-close {
  text-decoration: none; }

body.uniform-gallery .button-close {
  position: absolute;
  cursor: pointer;
  font-weight: 600;
  top: 58px;
  right: 120px; }

body.uniform-gallery .top-left-session {
  position: absolute;
  z-index: 1;
  margin: 0;
  color: #c4c4c4;
  top: -35px;
  left: 0;
  font-weight: 600;
  font-size: 8em;
  opacity: 0.4; }

body.uniform-gallery .bottom-right-session {
  position: absolute;
  z-index: 1;
  margin: 0;
  color: #c4c4c4;
  bottom: -10px;
  right: 14px;
  font-weight: 600;
  font-size: 8em;
  opacity: 0.4; }

body.uniform .banner {
  height: 580px; }
  body.uniform .banner img {
    width: 100%; }
  body.uniform .banner .nextArrowBtn, body.uniform .banner .prevArrowBtn {
    position: absolute;
    font-size: 4em;
    font-weight: 800;
    top: 240px;
    z-index: 5;
    padding: 20px;
    cursor: pointer;
    color: #000000; }
  body.uniform .banner .nextArrowBtn {
    left: 40px; }
  body.uniform .banner .prevArrowBtn {
    right: 40px; }

body.uniform .introduce-uniform {
  margin-bottom: 100px; }
  body.uniform .introduce-uniform .top-introduce {
    width: 85%;
    background-color: #f2f2f2;
    height: 260px;
    display: -ms-flexbox;
    display: flex; }
    body.uniform .introduce-uniform .top-introduce .left-session {
      width: 62.5%; }
    body.uniform .introduce-uniform .top-introduce .right-session {
      width: 37.5%;
      padding-left: 60px; }
    body.uniform .introduce-uniform .top-introduce .title-top-introduce {
      font-weight: 600;
      font-size: 1.6em;
      padding-right: 150px;
      margin-top: 125px; }
  body.uniform .introduce-uniform .bottom-introduce {
    height: 170px;
    position: relative; }
    body.uniform .introduce-uniform .bottom-introduce .img-introduce {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 50%;
      height: 300px; }
    body.uniform .introduce-uniform .bottom-introduce .text-uniform {
      position: absolute;
      margin: 0;
      bottom: 0;
      right: 36%;
      z-index: 1;
      font-weight: 600; }

body.uniform .about-uniform {
  padding: 20px 280px;
  font-weight: 600;
  font-size: 1em;
  border-bottom: 1px solid #c4c4c4; }
  body.uniform .about-uniform p {
    margin-bottom: 50px; }

body.uniform .my-client {
  padding: 70px 200px;
  position: relative; }
  body.uniform .my-client p.title-client {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500; }
  body.uniform .my-client .slide-slick-clients {
    display: -ms-flexbox;
    display: flex;
    height: 80px; }
    body.uniform .my-client .slide-slick-clients .item-client {
      outline: none;
      cursor: pointer; }
  body.uniform .my-client .nextBtn, body.uniform .my-client .prevBtn {
    position: absolute;
    font-size: 1.5em;
    font-weight: 700;
    top: 12px;
    z-index: 5;
    padding: 20px;
    cursor: pointer;
    color: #000000; }
  body.uniform .my-client .nextBtn {
    left: -50px; }
  body.uniform .my-client .prevBtn {
    right: -50px; }

body.uniform .type-uniform .uniform-box {
  background-color: #d3d7da;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px; }
  body.uniform .type-uniform .uniform-box .slide-slick-image, body.uniform .type-uniform .uniform-box .content-uniform {
    width: 50%; }
  body.uniform .type-uniform .uniform-box .slide-slick-image .image-items {
    height: 500px; }
  body.uniform .type-uniform .uniform-box .slide-slick-image .nextBtn, body.uniform .type-uniform .uniform-box .slide-slick-image .prevBtn {
    position: absolute;
    font-size: 2.5em;
    font-weight: 700;
    top: 220px;
    z-index: 1;
    padding: 20px;
    cursor: pointer;
    color: #000000; }
  body.uniform .type-uniform .uniform-box .slide-slick-image .nextBtn {
    left: 30px; }
  body.uniform .type-uniform .uniform-box .slide-slick-image .prevBtn {
    right: 30px; }
  body.uniform .type-uniform .uniform-box .content-uniform {
    padding: 90px 70px; }
    body.uniform .type-uniform .uniform-box .content-uniform .name-uniform {
      font-weight: 500;
      font-size: 2em;
      margin-bottom: 60px;
      padding-right: 60px; }
    body.uniform .type-uniform .uniform-box .content-uniform .des-uniform {
      margin-bottom: 70px;
      padding-right: 40px; }
      body.uniform .type-uniform .uniform-box .content-uniform .des-uniform p {
        margin-bottom: 20px;
        font-weight: 600; }
    body.uniform .type-uniform .uniform-box .content-uniform .button-uniform .btn-view {
      padding: 8px 25px 8px 15px;
      background-color: #000000;
      color: #ffffff; }
    body.uniform .type-uniform .uniform-box .content-uniform .button-uniform a.btn-view {
      text-decoration: none;
      transition-duration: 0.8s; }
      body.uniform .type-uniform .uniform-box .content-uniform .button-uniform a.btn-view:hover {
        background-color: #ffffff;
        color: #000000; }

body.news .header-news {
  display: -ms-flexbox;
  display: flex; }
  body.news .header-news .content-header-news {
    width: 55%; }
    body.news .header-news .content-header-news .top-content-header {
      padding: 70px 110px;
      height: 280px; }
      body.news .header-news .content-header-news .top-content-header .link-header-news {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        body.news .header-news .content-header-news .top-content-header .link-header-news a {
          color: gray; }
      body.news .header-news .content-header-news .top-content-header .name-news {
        font-weight: 500;
        font-size: 1.5em;
        padding-right: 80px;
        margin-top: 40px; }
    body.news .header-news .content-header-news .bottom-content-header {
      position: relative;
      padding: 60px 110px;
      background-color: #f2f2f2;
      height: 260px;
      overflow: hidden; }
      body.news .header-news .content-header-news .bottom-content-header .description {
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 40px; }
        body.news .header-news .content-header-news .bottom-content-header .description .line-des {
          width: 25%; }
          body.news .header-news .content-header-news .bottom-content-header .description .line-des hr {
            width: 60px;
            background: black;
            color: black;
            height: 2px;
            margin: 0;
            margin-top: 5px; }
        body.news .header-news .content-header-news .bottom-content-header .description .text-des {
          width: 75%;
          font-weight: 500; }
      body.news .header-news .content-header-news .bottom-content-header .date-button {
        display: -ms-flexbox;
        display: flex; }
        body.news .header-news .content-header-news .bottom-content-header .date-button .button-header-news {
          width: 25%;
          position: relative; }
          body.news .header-news .content-header-news .bottom-content-header .date-button .button-header-news .button-position-above {
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: -10px; }
        body.news .header-news .content-header-news .bottom-content-header .date-button .date-header-news {
          width: 75%;
          color: gray; }
      body.news .header-news .content-header-news .bottom-content-header .bg-img {
        width: 150px;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0.3;
        -ms-transform: translateX(-14%) translateY(25%) rotate(-29deg);
            transform: translateX(-14%) translateY(25%) rotate(-29deg); }
  body.news .header-news .image-header-news {
    width: 35%; }
    body.news .header-news .image-header-news img {
      width: 100%;
      height: 540px; }
  body.news .header-news .bag-space {
    width: 10%;
    position: relative;
    transition-duration: 0.6s;
    cursor: pointer; }
    body.news .header-news .bag-space .my-bag .text-bag {
      position: absolute;
      top: 50%;
      left: 50%;
      display: -ms-flexbox;
      display: flex; }
      body.news .header-news .bag-space .my-bag .text-bag p {
        margin: 0; }
      body.news .header-news .bag-space .my-bag .text-bag hr {
        width: 40px;
        background: black;
        color: black;
        height: 2px;
        margin-top: 9px; }
      body.news .header-news .bag-space .my-bag .text-bag .text {
        min-width: 80px; }
      body.news .header-news .bag-space .my-bag .text-bag .number {
        margin-left: 20px; }
    body.news .header-news .bag-space .my-bag .rotate {
      -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg); }
    body.news .header-news .bag-space:hover {
      background-color: #f2f2f2; }

body.news .body-news {
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px; }
  body.news .body-news .left-body-news {
    width: 30%; }
    body.news .body-news .left-body-news .title-menu {
      font-size: 1.6em;
      font-weight: 500;
      padding-bottom: 40px; }
    body.news .body-news .left-body-news .list-menu {
      position: relative;
      overflow: hidden;
      background-color: #f2f2f2;
      height: 500px;
      padding: 80px 50px; }
    body.news .body-news .left-body-news ul li {
      padding-bottom: 16px; }
    body.news .body-news .left-body-news .bg-img-1 {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.3;
      -ms-transform: translateX(14%) translateY(22%) rotate(27deg);
          transform: translateX(14%) translateY(22%) rotate(27deg); }
  body.news .body-news .right-body-news {
    width: 60%; }

body.news .button-detail {
  background-color: #000000;
  padding: 15px 22px;
  color: #ffffff;
  font-size: 1.4em;
  cursor: pointer; }

body.news a.button-detail {
  text-decoration: none; }

body.news .news-box {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px; }
  body.news .news-box .image-news-box {
    width: 40%;
    position: relative; }
    body.news .news-box .image-news-box img {
      width: 100%; }
    body.news .news-box .image-news-box .button-position-right {
      position: absolute;
      right: 0;
      bottom: 0; }
    body.news .news-box .image-news-box .button-position-left {
      position: absolute;
      left: 0;
      bottom: 0; }
  body.news .news-box .content-news-box {
    width: 60%;
    padding: 60px; }
    body.news .news-box .content-news-box p {
      margin: 0; }
    body.news .news-box .content-news-box .title-news-box {
      color: gray;
      margin-bottom: 25px; }
    body.news .news-box .content-news-box .name-news-box {
      font-weight: 600;
      font-size: 1.5em;
      margin-bottom: 25px; }
    body.news .news-box .content-news-box .description-news-box {
      display: -ms-flexbox;
      display: flex; }
      body.news .news-box .content-news-box .description-news-box .line-des {
        width: 15%; }
        body.news .news-box .content-news-box .description-news-box .line-des hr {
          width: 20px;
          background: black;
          color: black;
          height: 2px;
          margin: 0;
          margin-top: 5px; }
      body.news .news-box .content-news-box .description-news-box .text-des {
        width: 85%;
        font-weight: 500; }

body.news-detail .header-news-detail {
  padding: 60px 300px;
  background-color: #f2f2f2; }
  body.news-detail .header-news-detail .content-header-news-detail {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px;
    margin-top: 20px; }
    body.news-detail .header-news-detail .content-header-news-detail .date-link {
      width: 40%;
      color: #c4c4c4; }
      body.news-detail .header-news-detail .content-header-news-detail .date-link a {
        color: #c4c4c4; }
    body.news-detail .header-news-detail .content-header-news-detail .name-news-detail {
      width: 60%; }
      body.news-detail .header-news-detail .content-header-news-detail .name-news-detail p {
        font-weight: 600;
        font-size: 1.5em;
        padding-right: 60px; }
  body.news-detail .header-news-detail .image-header-news-detail {
    position: relative; }
    body.news-detail .header-news-detail .image-header-news-detail .image-header {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0; }

body.news-detail .body-news-detail {
  padding: 60px 300px;
  margin-top: 530px; }
  body.news-detail .body-news-detail .blog-content {
    margin-bottom: 80px;
    padding-right: 40px; }
    body.news-detail .body-news-detail .blog-content p {
      margin-bottom: 40px;
      font-weight: 500;
      font-size: 1em; }

body.news-detail .bottom-news-detail {
  padding: 100px 0;
  background-color: #f2f2f2;
  display: -ms-flexbox;
  display: flex; }
  body.news-detail .bottom-news-detail .left-bottom {
    width: 18%;
    background-color: #000000;
    font-size: 1.5em;
    padding: 120px 70px;
    font-weight: 500;
    color: #ffffff; }
  body.news-detail .bottom-news-detail .right-bottom {
    width: 82%;
    position: relative; }

body.news-detail .slide-slick-news {
  display: -ms-flexbox;
  display: flex;
  padding: 0 120px;
  padding-right: 70px;
  margin: 0; }
  body.news-detail .slide-slick-news .item-news {
    border: none;
    border-top: 1px solid #000000;
    padding: 30px 30px 110px 0;
    margin-right: 50px;
    outline: none; }
    body.news-detail .slide-slick-news .item-news .name-news {
      font-weight: 600;
      font-size: 1.5em;
      min-height: 90px;
      cursor: pointer; }
    body.news-detail .slide-slick-news .item-news .des-news {
      color: #c4c4c4; }
  body.news-detail .slide-slick-news .slick-slide {
    height: auto; }
  body.news-detail .slide-slick-news .slick-dots {
    width: auto;
    bottom: 0;
    left: 30%; }
  body.news-detail .slide-slick-news .slick-dots li {
    margin: 0;
    width: auto;
    height: auto; }
  body.news-detail .slide-slick-news .slick-dots li button {
    width: 140px;
    height: 2px;
    padding: 0;
    background-color: #000000;
    opacity: 0.25; }
  body.news-detail .slide-slick-news .slick-dots li.slick-active button {
    background-color: #000000;
    opacity: 0.75; }
  body.news-detail .slide-slick-news .slick-dots li button:before {
    content: none; }
  body.news-detail .slide-slick-news p.prev-button, body.news-detail .slide-slick-news p.next-button {
    position: absolute;
    bottom: -15px;
    font-weight: 600;
    cursor: pointer;
    z-index: 2; }
  body.news-detail .slide-slick-news p.prev-button {
    left: 120px; }
  body.news-detail .slide-slick-news p.next-button {
    left: 180px; }

body.news-detail .button-detail {
  background-color: #000000;
  padding: 15px 22px;
  color: #ffffff;
  font-size: 1.4em;
  cursor: pointer; }

body.news-detail a.button-detail {
  text-decoration: none; }

body.news-detail .custom-position {
  position: absolute;
  right: 120;
  bottom: 0; }

body.contact .contact-body {
  display: -ms-flexbox;
  display: flex; }
  body.contact .contact-body .left-session {
    width: 30%; }
    body.contact .contact-body .left-session .contact-form {
      background-color: #000000;
      color: #ffffff;
      padding: 50px;
      text-align: center; }
      body.contact .contact-body .left-session .contact-form input {
        outline: none;
        border: none;
        border-bottom: 1px solid #c4c4c4;
        background-color: #000000;
        color: #ffffff;
        padding-bottom: 12px;
        margin-bottom: 22px;
        width: 100%; }
      body.contact .contact-body .left-session .contact-form input.button-submit {
        border: 1px solid #ffffff;
        background-color: #ffffff;
        padding: 15px 40px;
        width: auto;
        color: #000000;
        transition-duration: 0.6s;
        margin-top: 50px; }
        body.contact .contact-body .left-session .contact-form input.button-submit:hover {
          background-color: #c4c4c4; }
  body.contact .contact-body .right-session {
    width: 70%; }
    body.contact .contact-body .right-session .top-body-contact {
      display: -ms-flexbox;
      display: flex;
      padding: 60px; }
      body.contact .contact-body .right-session .top-body-contact p {
        margin: 0; }
      body.contact .contact-body .right-session .top-body-contact .contact-title {
        width: 30%;
        font-weight: 500; }
      body.contact .contact-body .right-session .top-body-contact .message {
        width: 70%;
        font-weight: 500;
        font-size: 1.5em;
        padding-right: 270px; }
    body.contact .contact-body .right-session .middle-body-contact {
      background-color: #f2f2f2;
      border-left: 2px solid #d8d8d8;
      padding: 70px 110px 10px 60px; }
    body.contact .contact-body .right-session .head-quarters-session, body.contact .contact-body .right-session .showroom-session {
      display: -ms-flexbox;
      display: flex; }
      body.contact .contact-body .right-session .head-quarters-session p, body.contact .contact-body .right-session .showroom-session p {
        line-height: 2.2em;
        margin: 0; }
      body.contact .contact-body .right-session .head-quarters-session .left-session, body.contact .contact-body .right-session .showroom-session .left-session {
        width: 20%; }
      body.contact .contact-body .right-session .head-quarters-session .right-session, body.contact .contact-body .right-session .showroom-session .right-session {
        width: 80%; }
    body.contact .contact-body .right-session .sector-box {
      display: -ms-flexbox;
      display: flex; }
      body.contact .contact-body .right-session .sector-box .name-sector {
        width: 20%; }
      body.contact .contact-body .right-session .sector-box .all-address {
        width: 80%; }
      body.contact .contact-body .right-session .sector-box .address-detail {
        margin-bottom: 60px; }
